.navbar{
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: large;
    padding: 1rem;
    box-shadow: 0 0 3px #ccc;
}

.navbar, .navbar_home{
    background-color: black;
    color: white;
}